@model IEnumerable<concertTicketWebCoreMVC.Models.StubHubCity>

@{
    ViewData["Title"] = "StubHubCity";
}

<h1>Stub Hub Cities Table In Massachusetts</h1>

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GeoNameId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.city)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeZoneId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeZoneRawOffset)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeZoneDisplayOffset)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GeoNameId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeZoneId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeZoneRawOffset)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeZoneDisplayOffset)
            </td>
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.Index">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Index">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Index">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
